* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #F55B64;
    --cor-secundaria: #C2373F;
    --neutro: #F9F9F9;
    --preto: #131730;
    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: 'Numans', sans-serif;
    --degrade-azul: linear-gradient(180deg, #411c30 0%, #261749 100%);
}

html,
body {
    min-height: 100%;
}

body {
    background: var(--degrade-azul);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: var(--neutro);
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 500px;

    padding: 24px;
    align-items: center;
    border-radius: 16px;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-bottom: 24px;
}

p {
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.input-item,
.input-item-quantidade {
    display: block;
    padding: 12px 16px;
    border-radius: 24px;
    border: 1px solid var(--preto);
    width: 100%;

    font-family: var(--fonte-texto);
}

.input-item::placeholder,
.input-item-quantidade::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.button-item {
    width: 100%;
    padding: 12px 16px;
    border-radius: 24px;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    transition: .3s;
}

.button-item:hover {
    background-color: var(--cor-secundaria);
    cursor: pointer;
    transform: translateY(-2px);
    transition: .3s;
}

.button-item:active {
    background-color: var(--cor-secundaria);
    transform: scale(0.98);
    transition: .1s;
}

.button-delete {
    border: none;
    background-image: none;
    border: none;
    cursor: pointer;
    all: unset;
}

.button-delete img {
    display: block;
    width: 20px;
}

.button-delete:hover {
    cursor: pointer;
    opacity: 0.7;
}

.button-delete:active {
    transform: scale(0.9);
    transition: .1s;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.lista-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
}

.texto-data {
    font-size: 12px;
    line-height: 20px;
}

.container-lista {
    width: 100%;
}

@media (max-width: 600px) {
    main {
        padding: 16px;
        gap: 16px;
    }

    h2 {
        font-size: 16px;
        text-align: center;
    }

    p {
        font-size: 16px;
    }
}